# Build results
bin/
obj/
out/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Logs
*.log

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/packages/

# Build artifacts
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.obj
*.lib


*.sqlite
*.sqlite3
*.db